#personalPage .avatar {
  border: 0.5rem solid $color-dark4;
  border-radius: 50%;
  background-color: $color-dark2;
}
#personalPage {
  //background-color: $color-dark1;
  padding: 2rem 2rem;
}

.avatarContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#hello {
    padding: 0rem;
    
}
.search_Container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    //border: 0.5rem solid $color-dark1;
    color: $color-pink;
    gap:0.2rem;
}
#errorMessage{
    color: red;
}

h3{
    padding-bottom: 2rem;
    padding-top: 2rem;
    color: $color-dark4;
}
#selected_accounts_name{
    color:$color-pink;
}


@media screen and (min-width: 568px) {
  .avatarContainer {
    width: 30%;
  }
}
