main {
  @extend header;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
  margin: auto;
}

h1 {
  padding-bottom: 2rem;
  padding-top: 1rem;
  font-weight: 700;
  color: $color-dark1;
  font-size: 4.8rem;
  line-height: 5.8rem;
}
input {
    border: 0.2rem solid $color-dark4;
    border-radius: 1%;
    padding: 0.4rem;
  }
  input:focus{
    background-color: $color-dark4;
  }
.paragraph {
  color: $color-dark4;
  font-size: 2rem;
  line-height: 150%;
  font-weight: 400;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

span {
  color: $color-pink;
}

form {
  @extend header;
  border: 0.5rem solid $color-dark4;
  border-radius: 1%;
  background-color: $color-dark1;
  padding-bottom: 3rem;
  padding-top: 3rem;
  width: min-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.formHref {
  text-align: center;
  @extend input;
  transition: width 0.4s ease-in-out;
}
.formHref a {
  text-decoration: none;
  color: $color-dark4;
  font-size: 1rem;
  line-height: 1.8rem;
  padding: 0.5rem;
  
}
.formHref a:hover{
    font-size: 1.4rem;
    
}

.formButton {
    @extend input;
    background-color: $color-pink; 
    color: $color-light1;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}
.formButton:hover {
    font-size: 1.8rem;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

