.paragraf {
    color: $color-dark2;
    font-size: 2rem;
    line-height: 150%;
    font-weight: 400;
    padding-bottom: 1rem;
    padding-right: 2.3rem;
}
.singup{
    border: 1rem solid $color-dark2;
    background-color: $color-pink;
    padding: 1rem 1rem;
    margin: 0 40rem;
    text-align: center;
}
.singup a{
    text-decoration: none;
    color: $color-light1;
    margin: 10px 30px;
}