.dropbtn {
    display: inline-block;
    color: $color-dark4;
    text-align: center;
    text-decoration: none;
  }
  .dropdown:hover .dropbtn {
    background-color: $color-pink;
  }
  dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $color-light1;
    width: min-content;
   // min-width: 6rem;
    box-shadow: 1rem 0.8rem 2.5rem 0.4rem rgba(197, 146, 167, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: $color-dark1;
    padding: 0.8rem 0rem;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 0.8rem;
  }
  .dropdown-content a:hover {background-color: $color-dark4;}
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media screen and (min-width: 768px) {
    .dropdown-content a {
      font-size: 1.4rem;
    }
  }
