//base styles
@import "./base/reset";
@import "./base/variables";

//Organisms

// @import "./organisms/header";
// @import "./organisms/main";
// @import "./organisms/footer";
@import "./organisms/logIn/header";
@import "./organisms/logIn/main";
@import "./organisms/logIn/footer";

@import "./organisms/thenLogin/header";
@import "./organisms/thenLogin/main";

// add New Form
@import "./organisms/AddNewInfo/body";
@import "./organisms/AddNewInfo/main";

//Atoms
@import "./organisms/atoms/button";


html {
  font-size: 62.5%;
}

body {
  font-family: $font-main;
  color: $color-light1;
  font-size: 1.6rem;
  margin-top: 3.2rem;
}
