//fonts
$font-main: "Inter", sans-serif;

//colors
$color-dark1: #111111;
$color-dark2: #555555;
$color-dark3: #777777;
$color-dark4: #999999;
$color-light1: #ffffff;
$color-light2: #eeeeee;
$color-light3: #cccccc;
$color-pink: #ff3998;
$color-red: #ff3939;
$color-lightgreen: #edfff6;
$color-lightorange: #fff0e8;
